.app-footer {
    .play-bar {
        position: fixed;
        bottom: -52px;
        display: flex;
        width: 100%;
        height: 54px;
        background-image: linear-gradient(to right, rgb(45, 44, 44), rgb(52, 51, 51), rgb(43, 43, 43));
        border-top: 1px solid #000;
        box-shadow: 0 -1px 4px #000;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

        &:hover {
            bottom: 0 !important;
        }
        .play-info{
            width: 980px;
            margin: 0 auto;
            .play-controls{
                width: 140px;
                display: flex;
                justify-content: flex-end;
                p{
                    margin: 0;
                }
                .last-icon,.next-icon{
                    margin: 12px 5px;
                    .anticon{
                        svg{
                            width: 28px;
                            height: 28px;
                           color: #999;
                           cursor: pointer;
                           &:hover{
                               color: #ccc;
                           }
                        }
                    }
                }
                .play-icon{
                    margin: 8px 0;
                    .anticon{
                        svg{
                            width: 36px;
                            height: 36px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                    
                }
                
            }
        }
       
        .play-lock{
            position: absolute;
            top: -22px;
            right: 40px;
            background: rgb(43,43,43);
            border-radius: 50% 50% 0 0;
            box-shadow: 0 -1px 4px #000;
            width: 26px;
            svg{
                width: 18px;
                height: 18px;
                color: #ccc;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}