.page-search {
    width: 980px;
    margin: 0 auto;
    padding: 40px;
    background: #fff;

    .search-bar {
        width: 420px;
        height: 40px;
        margin: 0 auto;

        .ant-input-search {
            height: 40px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: -1px -1px #999 inset;
        }
    }

    .search-content {
        .title {
            margin: 28px 0 18px 0;
        }

        .ant-tabs-tab {
            width: 110.5px;

            .ant-tabs-tab-btn {
                text-align: center;
                width: 100%;
            }

        }

        .page-tab-content {
            .ant-list-item {
                box-sizing: border-box;
                border: 1px solid transparent;
                padding: 6px 0 6px 15px;

                &:nth-child(even) {
                    background: rgb(247, 247, 247);

                }

                

                .song-item {
                    display: flex;

                    .play {
                        padding: 2px 5px;
                        .anticon {
                            cursor: pointer;
                            opacity: 0.5;

                            &:hover {
                                opacity: 1;
                            }

                            svg {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }

                    .song-name {
                        width: 390px;

                        .real-name {
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .alias {
                            font-size: 12px;
                        }


                    }
                    .song-oper{
                        opacity: 0;
                        .oper-item{
                            cursor: pointer;
                            margin: 0 8px 4px 0;
                            opacity: 0.6;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }

                    .singer,.album {
                        width: 16%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        a {
                            color: #333;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .album{
                        width: 18%;
                    }
                    .time{
                        margin-left: 16px;
                    }
                }
                &:hover {
                    background: rgb(242, 242, 242);
                    border-color: rgb(225, 225, 225);
                    .song-oper{
                        opacity: 1;
                    }
                }
            }
            .page-artist{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .artist-item{
                    width: 20%;
                    margin-bottom: 10px;
                    .artist-name{
                        padding-top: 10px;
                    }
                }
            }
        }
    }


}